Repository Letto228/Angular-learnjs-150224: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier -w, prettier -w

.lintstagedrc.json:

{
  "*.{ts,js}": ["npx eslint --fix", "npx prettier -w"],
  "*.{json,md}": "prettier -w",
  "*.html": ["npx eslint --fix", "npx prettier -w"],
  "*.{css, scss}": "prettier -w"
}

modify eslintrc
  .eslintrc.json
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
Due: npx eslint --fix, npx prettier -w, prettier -w

feat: added input and output for card
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w

feat: refactor output
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w

feat: added card component
  src/app/pages/card/card.component.html
  src/app/pages/card/card.component.ts
Due: npx eslint --fix, npx prettier -w

feat: homework 3 done
  angular.json
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w, prettier -w

feat: moves product item change to product list
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w

feat: add output decorator functionality
  .husky/commit-msg
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w

feat: add product-card
  src/app/app.component.css
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
  src/index.html
  src/styles.css
Due: npx eslint --fix, npx prettier -w, prettier -w

feat(lecture-3): clear code
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.scss
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
  src/app/services/products/product.mock.ts
  src/app/services/products/product.service.ts
  src/app/services/products/products.mock.ts
Due: npx eslint --fix, npx prettier -w

fix(lecture-3): clear code
  src/app/pages/products-list/card/card.component.scss
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w

feat: add card module and component
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
Due: npx eslint --fix, npx prettier -w, prettier -w

feat: card complete
  src/app/pages/products-list/card/README.md
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npx eslint --fix, npx prettier -w, prettier -w

feat: edit app component
  src/app/app.component.css
  src/app/app.component.html
  src/app/app.module.ts
Due: npx eslint --fix, npx prettier -w, prettier -w

feat: add card input and output
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w

fix: modify product buy event
  angular.json
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w, prettier -w

feat: create test-intput-output in lesson-3
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w

chore: card
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npx eslint --fix, npx prettier -w

feat: done
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w, prettier -w

fix: modify type of product buy event
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w

Update card.component.css
  src/app/pages/products-list/card/card.component.css
Due: prettier -w

feat: added output-input comunication for card component
  angular.json
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w, prettier -w

feat: lecture 3 homework
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w, prettier -w

chore: sanitize project
  src/app/app.component.html
  src/app/app.component.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/pages/products-list/card/card.component.ts
Due: npx eslint --fix, npx prettier -w

feat: input output props
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w

feat: add input/output for product
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w

feat: migrate to husky V9
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier -w

feat: makes better @Input @Output
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w

chore: deleted comment
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w

fix: output decorator
  angular.json
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.ts
  tsconfig.json
Due: npx eslint --fix, npx prettier -w, prettier -w

fix: new input decorator
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w

feat: lecture 4
  src/app/app.component.html
  src/app/app.module.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.ts
Due: npx eslint --fix, npx prettier -w

chore: sanitize project
  src/app/app.component.html
  src/app/app.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.ts
Due: npx eslint --fix, npx prettier -w

feat: pre lecture 4 homework
  src/app/app.component.html
  src/app/app.component.ts
Due: npx eslint --fix, npx prettier -w

feat: homework 3 fix
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.html
Due: npx eslint --fix, npx prettier -w

feat: product card
  src/app/app.component.html
  src/app/app.module.ts
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.spec.ts
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
Due: npx eslint --fix, npx prettier -w, prettier -w

feat: add input, output, cardList
  angular.json
  src/app/pages/products-list/card/README.md
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/products-list.component.css
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.component.ts
Due: npx eslint --fix, npx prettier -w, prettier -w

feat: add card component
  angular.json
  src/app/app.component.css
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/pages/products-list/card/README.md
  src/app/pages/products-list/card/card.component.css
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
  src/app/pages/products-list/card/card.module.ts
  src/app/pages/products-list/products-list.component.html
  src/app/pages/products-list/products-list.module.ts
Due: npx eslint --fix, npx prettier -w, prettier -w

feat: fix output product id
  src/app/pages/products-list/card/card.component.ts
Due: npx eslint --fix, npx prettier -w

feat: added popup component
  src/app/app.component.html
  src/app/app.module.ts
  src/app/components/popup-host/popup-host.component.css
  src/app/components/popup-host/popup-host.component.html
  src/app/components/popup-host/popup-host.component.spec.ts
  src/app/components/popup-host/popup-host.component.ts
  src/app/components/popup-host/popup-host.module.ts
Due: npx eslint --fix, npx prettier -w, prettier -w

feat: added output-input comunication for card component
  src/app/pages/products-list/card/card.component.html
  src/app/pages/products-list/card/card.component.ts
Due: npx eslint --fix, npx prettier -w
